
/*  */

@media (max-width: 991px) {


    /* 13 start subscribe */
    .subscribe .container {
        flex-direction: column;
    }

    .subscribe p {
        margin: 30px 0 0 ;
    }





    /* 8 start stats */
    .stats .container .box {
        flex-basis: 50%;
    }










}
